.soft-skill-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: rgba(178, 223, 233, 0.44);
}
.soft-skill-header {
  width: 100%;
  display: flex;
  max-width: 100%;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: rgba(178, 223, 233, 0.44);
}
.soft-skill-text {
  font-size: 50px;
  font-style: normal;
  font-family: "Comic Sans MS";
  font-weight: 900;
}
.soft-skill-form {
  width: 200px;
  height: 100px;
  display: flex;
}
@media(max-width: 1650px) {
  .soft-skill-header {
    height: 93px;
    padding: 0px;
    max-width: 100%;
  }
  .soft-skill-text {
    top: 15px;
    left: 25px;
    margin: auto;
    position: absolute;
    max-width: auto;
  }
  .soft-skill-form {
    top: 155px;
    left: 0px;
    right: 0px;
    width: 1210px;
    height: 660px;
    margin: auto;
    position: absolute;
    background-color: #ffffff;
  }
  .soft-skill-button {
    right: 68px;
    width: var(--dl-size-size-medium);
    bottom: 49px;
    height: var(--dl-size-size-small);
    z-index: 100;
    position: absolute;
    box-shadow: 5px 5px 10px 0px #d4d4d4;
    border-width: 2px;
    border-radius: 20px;
  }
  .soft-skill-textinput {
    top: 32px;
    left: 34px;
    width: 1121px;
    height: 74px;
    margin: auto;
    position: absolute;
    border-width: 2px;
    border-radius: 20px;
  }
}
@media(max-width: 1106px) {
  .soft-skill-header {
    top: 0px;
    left: 0px;
    right: 0px;
    height: 113px;
    margin: auto;
    padding: 0px;
    position: absolute;
  }
  .soft-skill-text {
    text-align: center;
  }
}
@media(max-width: 870px) {
  .soft-skill-header {
    height: 285px;
    padding: 0px;
  }
  .soft-skill-text {
    top: 0px;
    left: 48px;
  }
}
@media(max-width: 767px) {
  .soft-skill-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .soft-skill-header {
    padding: var(--dl-space-space-unit);
  }
}
